<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen min-h-screen bg-zinc-900 p-10">
        <a href="/" class="mb-10 text-xs text-violet-500 inline-block tracking-tighter">Go Back To Home</a>
        <div>
            <h1 class="text-white text-5xl tracking-tighter font-semibold"><%= name %></h1>
            <p class="text-white text-m tracking-tight mt-5"><%= details %></p>

        </div>
    </div>
</body>
</html>